.footer {
  background-color: #95588f;
  color: #060303;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer a {
  color: #000000;
  text-decoration: none;
  padding: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}
